.te {
  background-color: aqua;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-style: oblique;
  font-size: 50px;
}

h2 {
  color: aqua;
}

#hola {
  color: aqua;
  background-color: chartreuse;
}

#pepe {
  background-color: darkkhaki;
}

/* unidad de medida absoluta px */

.cuadrado {
  width: 200px;
  height: 200px;
  background-color: red;
}

/* unidad de medida relativa % */

.porcentaje {
  width: 200%;
  height: 200%;
  background-color: green;
}

#nice {
  background-image: url("../img/nice.jpg") url("../img/rickandmort.jpg");
  width: 2000%;
  height: 50000%; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pro {
  background-image: url("./nice.jpg");
  width: 200%;
  height: 500%; 
}



